Makefile
Makefile.inc
config.log
config.status
libtool
src/Makefile
src/config.h
src/cw/.deps/
src/cw/.libs/
src/cw/Makefile
src/cw/cw
src/cw/cw.o
src/cwcp/.deps/
src/cwcp/.libs/
src/cwcp/Makefile
src/cwcp/cwcp
src/cwcp/cwcp.o
src/cwgen/.deps/
src/cwgen/.libs/
src/cwgen/Makefile
src/cwgen/cwgen
src/cwgen/cwgen.o
src/cwutils/.deps/
src/cwutils/Makefile
src/cwutils/cmdline.o
src/cwutils/cw_common.o
src/cwutils/dictionary.o
src/cwutils/i18n.o
src/cwutils/lib_cw.a
src/cwutils/lib_cwcp.a
src/cwutils/lib_cwgen.a
src/cwutils/lib_xcwcp.a
src/cwutils/memory.o
src/libcw/.deps/
src/libcw/.libs/
src/libcw/Makefile
src/libcw/libcw.3
src/libcw/libcw.la
src/libcw/libcw.pc
src/libcw/libcw_la-libcw.lo
src/libcw/libcw_la-libcw.o
src/libcw/libcw_la-libcw_alsa.lo
src/libcw/libcw_la-libcw_alsa.o
src/libcw/libcw_la-libcw_console.lo
src/libcw/libcw_la-libcw_console.o
src/libcw/libcw_la-libcw_data.lo
src/libcw/libcw_la-libcw_data.o
src/libcw/libcw_la-libcw_debug.lo
src/libcw/libcw_la-libcw_debug.o
src/libcw/libcw_la-libcw_gen.lo
src/libcw/libcw_la-libcw_gen.o
src/libcw/libcw_la-libcw_key.lo
src/libcw/libcw_la-libcw_key.o
src/libcw/libcw_la-libcw_null.lo
src/libcw/libcw_la-libcw_null.o
src/libcw/libcw_la-libcw_oss.lo
src/libcw/libcw_la-libcw_oss.o
src/libcw/libcw_la-libcw_pa.lo
src/libcw/libcw_la-libcw_pa.o
src/libcw/libcw_la-libcw_rec.lo
src/libcw/libcw_la-libcw_rec.o
src/libcw/libcw_la-libcw_signal.lo
src/libcw/libcw_la-libcw_signal.o
src/libcw/libcw_la-libcw_tq.lo
src/libcw/libcw_la-libcw_tq.o
src/libcw/libcw_la-libcw_utils.lo
src/libcw/libcw_la-libcw_utils.o
src/stamp-h1
